<html>
<head>
 <title>Početna</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
body{


background-image:url("Image.jpg");
background-repeat: repeat;

background-size:100%;

}

    .main
    {
         width:100%;
         padding-top:90px;
         height: 565px;
    }

#quote{
font-size:16px;
    color: #4CAF50;

    font-weight:bold;

    font-style:italic;
}

.header
{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #555;
  text-align: left;


}


.header h1
{
    font-size:30px;
    color: #4CAF50;
    margin-left:30px;
    font-weight:bold;
    margin-top:10px;
    }

    /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #ddd;
  font-family: Arial;
        height: 47px;

    }

/* Links inside the navbar */
.navbar a
{

  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:#555;


}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #555;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #4CAF50;
}

/* Dropdown content (hidden by default) */
 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #4CAF50;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#wrapper
    {
        background-color:#FFF;
        }
 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  text-align: center;
}
</style>
</head>
<body>
<div class="container">
<div class="header">
            <div class="title">
                <h1>
                    Knjigoteka
                </h1>
            </div>
 <div class="navbar">
  <a style="margin-left:550px; width: 57px;" href="/index">Početna</a>
  <a href="/authors">Autori</a>
  <div class="dropdown">
    <button class="dropbtn">Knjige
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/books">Lista knjiga</a>
      <a href="/bookReview">Recenzije</a>
      <a href="/topList">Top lista</a>

    </div>
  </div>
</div>

</div>
    <div class="main">

        <p id="quote" style="margin-left:100px;margin-top:150px">"Obrazovanje je najmoćnije oružje koje možete upotrebiti da menjate svet."
        Nelson Mandela
        </p>

        <p id="quote" style="margin-left:200px;margin-top:200px">"Svet je pozornica na kojoj svako igra svoju ulogu."
        Šekspir
        </p>

    <p id="quote" style="margin-left:250px;margin-top:170px">"Nije najgore što sve prolazi, nego što mi ne možemo da se pomirimo sa tom prostom i neizbežnom činjenicom."
    Ivo Andrić
    </p>


    </div>
    <div class="footer">

   <p style="text-align:center">Developed by: Andrijana Stanić. Contact information: <a style="color:#4CAF50;" href="mailto:andrijana.stanic94@gmail.com">
  andrijana.stanic94@gmail.com</a>.</p>

    </div>
   </div>

</body>
</html>